@page
@model FleetManager.Pages.Admin.CreateNewAccountModel
@{
}
<form method="post" class="form-control">
    <h2 style="text-align: center;">Registrace nových uživatelů</h2>
    <label for="basic-url" class="form-label">Uživatelské jméno</label>
    <div class="input-group mb-3">
        <input type="text" class="form-control" asp-for="Input.Username" placeholder="Zadejte uživatelské jméno"/><br />
    </div>
    <label for="basic-url" class="form-label">Heslo</label>
    <div class="input-group mb-3">
        <input type="password" asp-for="Input.Password" class="form-control" placeholder="Zadejte heslo" aria-label="Heslo" aria-describedby="basic-addon1">
    </div>
    <label for="basic-url" class="form-label">Email</label>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@@</span>
        <input type="email" asp-for="Input.Email" class="form-control" placeholder="Zadejte email" aria-label="Email" aria-describedby="basic-addon1">
    </div>
    <label for="basic-url" class="form-label">Křestní jméno</label>
    <div class="input-group mb-3">
        <input type="text" asp-for="Input.FirstName" class="form-control" placeholder="Zadejte křestní jméno" aria-label="Jmeno" aria-describedby="basic-addon1">
    </div>
    <label for="basic-url" class="form-label">Příjmení</label>
    <div class="input-group mb-3">
        <input type="text" asp-for="Input.LastName" class="form-control" placeholder="Zadejte příjmení" aria-label="Prijmeni" aria-describedby="basic-addon1">
    </div>
    <label for="basic-url" class="form-label">Role</label>
    <div class="input-group mb-3">
        <select asp-for="Input.Role" class="form-select">
            <option value="Uzivatel" selected>Uživatel</option>
            <option value="Technik">Technik</option>
            <option value="Administrator">Administrátor</option>
        </select>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-primary">Registrovat uživatele</button>
    </div>
</form>