@page
@model FleetManager.Pages.ReserveCarModel
@{
}
<form class="form-control" method="POST">
    <input type="hidden" asp-for="Input.CarId" />
    <h3>Rezervujete vozidlo </h3>
    <label>Rezervace platí od:</label>
    <div class="input-group mb-3">
        <input type="datetime-local" asp-for="Input.From" class="form-control" >
    </div>
    <label>A platí do:</label>
    <div class="input-group mb-3">
        <input type="datetime-local" asp-for="Input.To" class="form-control">
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-primary">Vytvořit rezervaci</button>
    </div>
</form>
